<!-- /views/one_twenty.erb -->

<h1>1d20</h1>

<ul>
  <% @rolls.each do |a_roll| %>
    <li>
      <%= a_roll %>
    </li>
  <% end %>
</ul>

<% if @die == 1 %>
  <p style="color: red"><%= @outcome %>
<% elsif @die == 20 %>
  <p style="color: green"><%= @outcome %>
<% else %>
  <p><%= @outcome %></p>
<% end %>
